input{
    margin: 15px;
    height: 5vh;
    width: 70%;
    margin-left: 5%;
}
#employee_id{
 
    width: 70%;
    height: 7vh;
    margin-left: 5%;
}
label{
    margin-left: 5%;
}
#status{
    width: 70%;
    margin-left: 5%;
    height: 5vh;
}
.btn{
    background-color: skyblue;
    height: 5vh;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid red;
    color: white;
    width: 15%;
    margin-left: 5%;
    margin-top: 2%;
    cursor: pointer;
}
.btn:hover{
    background-color: green;
}
h2{
    margin-left: 5%;
}
h5{
    text-align: center;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.382),rgba(0, 0, 0, 0.974)),url(WhatsApp\ Image\ 2024-09-26\ at\ 13.09.52_c57ebbf2.jpg);

}