ul{
  
  display: flex;
  background: transparent;
  box-shadow: 1px soli red;
 box-shadow: 0 0 10px black;
 padding: 5px;
}

li{
    margin: auto;
    padding: 15px;
    font-size: 14px;
    list-style: none;
}

a{
   
    text-decoration: none;
    color: white;

}

li :hover{
  
    color: green;
}