ul{
  
  display: flex;
 background-color: red;
  box-shadow: 1px soli red;
 box-shadow: 0 0 5px rgba(128, 0, 128, 0.532);
 padding: 5px;
}

li{
    margin: auto;
    padding: 15px;
    font-size: 14px;
    list-style: none;
}

a{
   
    text-decoration: none;
    color: white;

}

li :hover{
  
    color: green;
}