body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.426),#000000dd), url(IMG-20221103-WA0008.jpg);
    backdrop-filter: blur(25px);
    background-repeat: no-repeat;
    background-size: cover;
}

h4{
    text-align: center;
    color: green;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    color: WHITE;
    width: 70%;
    height: 5vh;
    margin-left: 20%;
    border: 1px solid white;
    background: transparent;
    margin: 10px;
    border-radius: 10px;
}

.container1{
    margin-right: 20%;
    margin-top: 5%;
}


span{
    margin-left: 43%;
    margin-top: 20%;
}

.btn{
    background-color: rgba(135, 207, 235, 0.558);
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(255, 0, 0, 0.222);
}

h6{
    margin-left: 5%;
    margin-top: -2%;
}
a{
    margin-left: auto;
}

.con{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#email1,#password{
    width: 70%;
  
}

.con1{
    
    border: 1px solide white;
   
    margin-top: 10%;
    
    backdrop-filter: blur(25px);
   
   
    width: 45%;
}

#btn1{
    width: 70%;
    color: white;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
}

#btn1:hover{
    background-color: rgba(255, 0, 0, 0.228);
}

span{
    font-size: 10px;
    margin-top: 5%;
}
#a2{
    color: white;
    text-decoration: none;
    color: red;
    font-family: cursive;
}